* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
		transition-behavior: allow-discrete;
	--sb-track-color: #e6e6e6;
	--sb-thumb-color: #aaa;
	--sb-width: 5px;
	--sb-height: 6px;

	--radius-4: 4px;
	--height: 90dvb;
	--header-height: 95px;
	--count: 6;
	--list-height: calc(var(--height) / var(--count) + 1rem);

	/* color */
<<<<<<< HEAD
	--white: #fafafa;
	--offwhite: #F5F5F5;
=======
	--text: light-dark(#3a3a3a, #dbd9d9);
	--btn: light-dark(#f5f5f5, #2b2a2a);
	--white: light-dark(#fafafa, #0a0a0a);
	--offwhite: light-dark(#fbfbfb, #0b0b0b);
	--shadow-clr-1: light-dark(rgba(0, 0, 0, 0.051), rgba(255, 255, 255, 0.04));
	--shadow-clr-2: light-dark(rgba(0, 0, 0, 0.078), rgba(255, 255, 255, 0.051));
>>>>>>> 7a9ee9f4cdc34887e1058107e03c7882fc36688b

	--shadow: var(--shadow-clr-1) 0px 6px 24px 0px, var(--shadow-clr-2) 0px 0px 0px 1px;
	--dot: light-dark(#00000059, #ffffff4d);
	--bg: light-dark(var(--white), #131313);
}

::-webkit-scrollbar {
	width: var(--sb-width);
	height: var(--sb-height);
}

::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 2px;
}

::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 2px;
}

@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

html {
	color-scheme: light dark;
	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}

	&:has([data-theme-toggle='light']) {
		color-scheme: light;
	}
	&:has([data-theme-toggle='dark']) {
		color-scheme: dark;
	}
}
body {
	min-height: 100dvb;
	max-height: 100dvb;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		sans-serif;
	display: grid;
	grid-template-rows: auto 1fr;
	background-image: radial-gradient(var(--dot) 0.7px, var(--bg) 0);
	background-size: 15px 15px;
	background-position: -20px -20px;
}
body:has(aside#sidebar) {
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		'aside header header'
		'aside main main'
		'aside main main';
}

/* utils */
.wrapper {
	width: min(100% - 2rem, 960px);
	margin-inline: auto;
}

.flow > * + * {
	margin-top: 1.5rem;
}

.shadow {
<<<<<<< HEAD
	box-shadow:
		rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

body {
	min-height: 100dvb;
	line-height: 1;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		sans-serif;
	display: grid;
	grid-template-rows: auto 1fr;
	background-image: radial-gradient(rgba(0, 0, 0, 0.35) 0.7px, var(--offwhite) 0);
	background-size: 15px 15px;
	background-position: -20px -20px;
	&:has(aside#sidebar) {
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: 'aside header header' 'aside main main' 'aside main main';
	}
=======
	box-shadow: var(--shadow);
>>>>>>> 7a9ee9f4cdc34887e1058107e03c7882fc36688b
}

/* ── <dialog> shared ─────────────────────────────────────────────────────────── */

dialog {
	border: none;
	padding: 0;
	margin: auto;
	border-radius: 8px;
	box-shadow:
		rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
		rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

dialog,
::backdrop {
	transition:
		display 0.5s allow-discrete,
		overlay 0.5s allow-discrete,
		opacity 0.5s;
	opacity: 0;
}

/* On Stage */
[open],
[open]::backdrop {
	opacity: 1;
}

/* Off Stage */
@starting-style {
	[open],
	[open]::backdrop {
		opacity: 0;
	}
}

/* theme-mode-toggler */
[data-theme-toggle] {
	position: fixed;
	background-color: var(--bg);
	top: 0.5rem;
	right: 0.5rem;
	padding: 0.4rem 0.6rem;
	border-radius: 100vmax;
	display: flex;
	gap: 0.3rem;
}
[data-theme-toggle]::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
	border-radius: inherit;
	box-shadow: var(--shadow);
	z-index: -1;
}
[data-theme-toggle] > button {
	appearance: none;
	cursor: pointer;
	border: none;
	border-radius: inherit;
	background: none;
	color: #737373;
	aspect-ratio: 1;
	display: flex;
	padding: 0.35em;
	&:hover {
		color: var(--text);
	}
	&.active {
		background: #e0e0e0;
		color: black;
	}
	svg {
		width: 16px;
		height: auto;
	}
	svg path {
		fill: inherit;
	}
}
