* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--sb-track-color: #e6e6e6;
	--sb-thumb-color: #aaa;
	--sb-width: 5px;
	--sb-height: 6px;


	--radius-4: 4px;
	--height: 85dvb;
	--header-height: 95px;
	--count: 6;
	--list-height: calc(var(--height) / var(--count) + 1rem);


	/* color */
	--white: #fafafa;
	--offwhite: #fbfbfb;

}

::-webkit-scrollbar {
  width: var(--sb-width);
  height: var(--sb-height);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.wrapper {
	width: min(100% - 2rem, 960px);
	margin-inline: auto;
}

.flow > * + * {
	margin-top: 1.5rem;
}

.shadow {
	box-shadow:
		rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

body {
	min-height: 100dvb;
	/* background-color: red; */
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		sans-serif;
	display: grid;
	grid-template-rows: auto 1fr;
	background-image: radial-gradient(rgba(0, 0, 0, 0.35) 0.7px, var(--white) 0);
	background-size: 15px 15px;
	background-position: -20px -20px;
	&:has(aside#sidebar) {
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: 'aside header header' 'aside main main' 'aside main main';
		/* grid-template-columns: auto 1fr; */
	}
}

/* ── <dialog> shared ─────────────────────────────────────────────────────────── */

dialog {
	border: none;
	padding: 0;
	margin: auto;
	border-radius: 8px;
	box-shadow:
		rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
		rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

dialog,
::backdrop {
	transition:
		display 0.5s allow-discrete,
		overlay 0.5s allow-discrete,
		opacity 0.5s;
	opacity: 0;
}

/* On Stage */
[open],
[open]::backdrop {
	opacity: 1;
}

/* Off Stage */
@starting-style {
	[open],
	[open]::backdrop {
		opacity: 0;
	}
}
